@media (min-width: 390px) and (max-width: 576px) {

  .header {
    background-color: #fff;
  
    
    &__content {
      position: relative;
      display: flex;
      align-items: center;
      height: 550px;
      
      &__mid-side {
          margin-top: -150px;
          &--h1 {
            font-size: 3em;
            font-weight: 500;
            line-height: 1.3;
            margin-bottom: 10px;
          }
          
          &--text {
            font-size: 2em;
            font-weight: 400;
          }
        
          &--btn {
            padding: 12px 25px;
            background-color: $cmp-color;
            border-radius: 5px;
            border: 2px solid $cmp-color;
            font-weight: 500;
            font-size: 1.5em;
            text-transform: capitalize;
            margin-top: 20px;
            
            a {
              color: #fff;
              text-decoration: none;
              transition: color .5s;
            }
            
          }
        
          &--btn:hover {
            background-color: #fff;
            
            a {
              color: $text-color;
            }
          }
          color: $text-color;
        }
  
        &__right-img {
          position: absolute;
          bottom: 0;
          top: auto;
          max-width: 75%;
            &--img {
              width: 100%;
              height: auto;
            }
          
          &--down-patern {
            position: absolute;
            left: -133px;
            bottom: 0;
            max-width: 60%;
          }
      }
  
      &::after {
        display: none;
      }
    }
  
  }

  .main {
    &__list-product {
    
      &__content {
          background-color: #fff;
          padding: 100px 0 0px;
          
          &__single-product {
              margin-bottom: 60px;
  
              &__item {
                  &__single {
                      position: relative;
                      margin: 35px 0 0 35px;
                      z-index: 10;
  
                      .product-img {
                          max-width: 204px;
                          height: auto;
                      }
  
                      .overlay-img {
                          position: absolute;
                          left: -35px;
                          top: -35px;
                          z-index: -1;
                          height: auto;
                          max-width: 200px;
                      }
                      
                      .overlay-img-even {
                          position: absolute;
                          left: 30px;
                          top: -35px;
                          z-index: -1;
                          height: auto;
                          max-width: 200px;
                      }
                  }
              }
  
              &__text {
                margin-top: 80px;
                  &--heading {
                      color: $cmp-color;
                      font-size: 1.6em;
                      font-family: $pop;
                  }
  
                  &--text {
                      color: #4b3049;
                      font-size: 2em;
                      line-height: 1.5;
                      font-weight: 500;
                      margin: 10px 0 30px;
                      font-family: $pop;
                  }
  
                  .btn {
                      &--product {
                          padding: 13px 29px;
                          border-radius: 5px;
                          background-color: transparent;
                          border: 1px solid $cmp-color;
                          font-size: 1.5em;
                          font-weight: 400;
                          text-transform: uppercase;
                          transition: .5s;
                          
                          a {
                              color: $cmp-color;
                              text-decoration: none;
                              transition: color .5s;
                          }
                      }
  
                      &--product:hover {
                          background-color: $cmp-color;
                          
                          a {
                              color: #fff;
                            }
                      }
                  }
              }
          }
      }
  }

  &__trending-items {
    padding: 70px 0 40px;
    background-color: #f4edf2;
   &__content {
        &--heading {
            font-size: 2.5em;
            color: $text-color;
            line-height: 27px;
            font-family: $pop;
            font-weight: 700;
            margin-bottom: 15px;
            text-align: center;
            }

            &__single-box {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                margin-bottom: 30px;

                &--text {
                    margin: 22px 0 8px;
                    a {
                        color: $text-color;
                        font-family: $pop;
                        font-size: 1.8em;
                        font-weight: 400;
                        line-height: 1.5;
                    }
                }

                &--cost {
                    font-family: $rubik;
                    line-height: 2;
                    margin-bottom: 0px;
                    color: #795376;
                    font-size: 1.6em;
                    font-weight: 400;
                }
        }
   }
  }

  &__testimonitals {
    background-color: $cmp-color;
    padding: 70px 0;
    &__content {
        text-align: center;
        &__slider {

            &__single-testi {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                &__img {
                    position: relative;
                    max-width: 105px;
                    margin-bottom: 35px;
                    
                    i {
                        position: absolute;
                        content: "";
                        right: -8px;
                        bottom: -10px;
                        height: 50px;
                        width: 50px;
                        background-color: #E4D3DF;
                        font-size: 14px;
                        border-radius: 50%;
                        line-height: 50px;
                        color: $white;
                    }
                }
                
                
                &--text {
                    font-size: 1.8em;
                    color: #fff;
                    font-family: $rubik;
                    font-weight: 400;
                }
                
                &--heading {
                    font-size: 1.6em;
                    margin-top: 25px;
                    color: #fff;
                    margin-bottom: 0;
                }
            }

        }
    }
  }

  .splide {
      &__slide {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }

      &__pagination {
          display: none;
      }

      &__arrow {
          width: 40px;
          height: 40px;font-size: 1.4em;
          line-height: 40;
          border-radius: 50%;
          border: 1px solid $text-color;
          color: $text-color;
          background-color: transparent;
          transition: background-color .5s;

          svg {
              font-weight: 200;
              color: #fff;
          }

          &:hover {
              background-color: $text-color;

              svg {
                  color: #fff;
              }
          }
      }
  }

  &__feature {
    background-color: #fff;
    padding: 70px 0;
    &__content {
        &__text {
            &--heading {
                color: #4b3049;
                font-size: 2.5em;
                font-family: $pop;
                font-weight: 500;
            }

            &--text {
                font-size: 1.5em;
                font-family: $rubik;
                color: #707070;
                font-weight: 400;
                line-height: 2;
                padding: 0;
                margin-top: 10px;
            }
        }

        &__boxes {
            
            &__single {
                padding: 25px;
                margin: 30px 0 0;
                text-align: center;
                color: $text-color;
                border: 1px solid #e4d3df;

                img {
                    margin-bottom: 20px;
                }

                &--head {
                    font-size: 1.8em;
                    font-weight: 400;
                    line-height: 1.5;
                    font-family: $pop;
                    margin-bottom: 0;
                }
            }
        }
    }
  }

  &__subscribe {
    background-color: $text-color;
    padding: 70px 0;
    &__content {
        text-align: center;
        &--heading {
            color: #fff;
            font-family: $pop;
            font-size: 2.5em;
        }

        &--text {
            font-size: 1.5em;
            font-family: $rubik;
            color: #fff;
            margin-top: 15px;
        }

        .subscribe-form {
            position: relative;
            max-width: 558px;
            margin: 0 auto;
            margin-top: 45px;

            &--input {
                border: 1px solid #fff;
                width: 100%;
                background-color: transparent;
                color: #fff;
                border-radius: 50px;
                padding: 19px 30px;
                line-height: 20px;
                font-size: 1.4em;

                &::placeholder {
                    color: $cmp-color;
                    font-weight: bold;
                }
            }

            &--button {
                padding: 15px 30px;
                line-height: 16px;
                border-radius: 50px;
                position: absolute;
                top: 5px;
                right: 5px;
                background-color: $cmp-color;
                border: 2px solid $cmp-color;
                font-size: 1.5em;
                font-weight: 500;
                color: #fff;
                
                a {
                    text-decoration: none;
                    color: #fff;
                    transition: color .5s;
                }

                &:hover {
                    background-color: #fff;
                    
                    a {
                        color: $cmp-color;
                    }
                }
            }
        }
    }
  }
  }

  .content-info {
    &__content {
        &__top-side {
            padding: 70px 0;
            background-color: #fff;
            &__footer-nav {
                display: flex;
                flex-direction: column;
                align-items: start;
                padding: 0;

                &__brand {
                    &--brand {
                        margin-right: 0px;
                    }
                }

                &__box {
                  margin-top: 15px;
                    
                    &--link,
                    a {
                        font-family: $rubik;
                        font-size: 1.6em;
                        color: $text-color;
                        padding: 0 15px 0 0;
                        text-decoration: none;
                    }
                }
            }

            &__footer-icons {
                display: flex;
                align-items: center;
                justify-content: start;
                margin-top: 25px;
                padding: 0;

                &--box,
                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    background-color: $text-color;
                    margin: 0 5px;
                    text-decoration: none;
                    transition: background-color .5s;
                    
                    i {
                        color: #fff;
                        font-size: 1.4em;
                    }

                    &:hover {
                        background-color: #e0cfdb;
                    }
                }
            }
        }

        &__btm-side {
            background-color: #f4edf2;
            padding: 30px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            &__text {
              padding: 0;

                &--text {
                    font-family: $rubik;
                    line-height: 2;
                    font-size: 1.5em;
                    margin-bottom: 0;
                    color: $text-color;
                    font-weight: 400;
                }
            }

            &__faqs {
                display: flex;
                align-items: center;
                justify-content: start;
                margin-top: 20px;
                padding: 0;
                &--link,
                a {
                    font-family: $rubik;
                    color: $text-color;
                    margin: 0 25px 0 0;
                    font-size: 1.4em;
                    text-decoration: none;
                }
            }
        }
    }
}

}